body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: 'lato';
    padding: 20px;
    color: #fff;
}

.carta-22 {
    width: 950px;
    height: 960px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
    background-color: #010625;
    padding: 40px;
    padding-top: 0;
}